<!-- <div id="map" #map></div> -->

<!-- Test FetchAPI -->
  <!-- <app-tabs></app-tabs> -->
  <!-- <app-map latitude='12' longitude='12' coffeeShop="{{coffeeShop$}}"></app-map>
  <p>CoffeeShops: {{coffeeShop$}}</p>
  <li *ngFor="let i of coffeeShop$">
    {{ i.name }}:{{i.phone_number}}
  </li>
  <p>Categories: {{category$}}</p>
  <p>CoffeeShop: {{coffeeShop}}</p>
  <p>Category: {{category}}</p>
  <p>img {{img}}</p>
  <img [src]="imageUrl">
  <app-card></app-card> -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Test</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h1>{{cafe.name}}</h1>
    <h3>{{cafe.description}}</h3>
    <h1>{{cafe.total_rate}}</h1>
    <ion-img src="{{cafe.image_represent}}"></ion-img>
  </ion-content>