<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/login']">
      <ion-button color="coffee-primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-tabs></app-tabs> -->
  <div id="header">
    <div class="logo">
      <ion-img src="../../../assets/images/LogoHiCoffeeBG.jpg"></ion-img>
    </div>
  </div>
  <form id="form">
    <p>Vui lòng điền tên Tài khoản Garena bạn sử dụng để đăng nhập</p>
    <app-input placeholder="Email"></app-input>
    <ion-button expand="block" shape="round">Gửi mã</ion-button>
  </form>
</ion-content>