<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="checkin">
      <ion-icon name="location-sharp"></ion-icon>
      <ion-label>Địa điểm</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      <ion-label>Người dùng</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="moremenu">
      <ion-icon name="reorder-four-sharp"></ion-icon>
      <ion-label>Thêm</ion-label>
    </ion-tab-button>        
  </ion-tab-bar>
</ion-tabs>
