<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Trang Chủ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Test FetchAPI
  <!-- <app-tabs></app-tabs> -->
  <app-map latitude='12' longitude='12'></app-map>
  <p>CoffeeShops: {{coffeeShop$}}</p>
  <li *ngFor="let i of coffeeShop$">
    {{ i.name }}:{{i.phone_number}}
  </li>
  <p>Categories: {{category$}}</p>
  <p>CoffeeShop: {{coffeeShop}}</p>
  <p>Category: {{category}}</p>
  <p>img {{img}}</p>
  <img [src]="imageUrl">
  <app-card></app-card>
</ion-content>