<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Trang Chủ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Test FetchAPI
  <!-- <app-tabs></app-tabs> -->
  <app-map></app-map>
  <p>CoffeeShops: {{coffeeShop$}}</p>
  <li *ngFor="let i of coffeeShop$">
    {{ i.name }}:{{i.phone_number}}
  </li>
  <p>Categories: {{category$}}</p>
  <p>CoffeeShop: {{coffeeShop}}</p>
  <p>Category: {{category}}</p>
  <p>img {{img}}</p>
  <img [src]="imageUrl">
  <app-card></app-card>
  <app-mainitem 
    imgSrc="../../../assets/images/background.jpg"
    title="Cafe cheo veo"
    address="116 Đ. Hùng Vương, Phường 11, Thành phố Đà Lạt, Lâm Đồng."
    description="Tiệm cà phê nhỏ của nhà Reply1994 Da Lat. Cheo veo nằm giữa một khu rừng, nhìn được toàn bộ thành phố Đà lạt và một phần Đức Trọng."
  ></app-mainitem>
  <ion-button routerLink="/listitem">List Item</ion-button>

  <ion-slides [option]="cafeSlideOpts">
    <ion-slide>
      <ion-img src="../../../assets/images/background.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/images/background.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/images/background.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/images/background.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/images/background.jpg"></ion-img>
    </ion-slide>
      <!-- <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card>
      <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card>
      <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card>
      <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card>
      <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card>
      <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card>
      <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card>
      <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card>
      <app-card image="../../../assets/images/toiden1.jpg" coffeename="Cafe Tỏi đen"></app-card> -->
  </ion-slides>
</ion-content>