<ion-tab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button selected="true">
      <ion-icon name="home"></ion-icon>
      <ion-label>Nhà</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="person"></ion-icon>
      <ion-label>Account 1</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="person"></ion-icon>
      <ion-label>Account 2</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="person"></ion-icon>
      <ion-label>Account 3</ion-label>
    </ion-tab-button>   
  </ion-tab-bar>
</ion-tab>