<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Thông tin phần mềm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding">
    <div class="logo">
      <ion-img src="../../../assets/images/LogoHiCoffeeBG.jpg"></ion-img>
      <div class="version"><span>Phiên bản: </span>Alpha 1.0</div>
    </div>
    <div class="content ion-padding">
      <div class="title ion-text-center">Họ và tên thành viên</div>
      <ul class="list-member">
        <li>1911166_Võ Công Lý <span>(Analyst)</span></li>
        <li>1911200_Trần Thành Tài <span>(Designer)</span></li>
        <li>1911164_Võ Đình Hoàng Long <span>(Manager)</span></li>
        <li>1911213_Phan Thị Hoài Thương <span>(Tester)</span></li>
        <li>1911158_Nguyễn Hoàng Đăng Khoa <span>(Designer)</span></li>
      </ul>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footer">
    <div> Copyright &copy;2022 by <span>Nhom09_CTK43_DLU</span></div>
    <div>All rights reserved</div>  
  </div>
</ion-footer>
