ion-card {
    //box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
    //--highlight-height: 0px;
    //padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    ion-img {
        overflow: hidden;
        height: 120px;
        width: 120px;
        border-radius: 10px;    
        object-fit: cover;
        margin-bottom: 10px;
    }

    ion-label {
        font-size: 15px;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--ion-color-coffee-primary);
        font-weight: 700;
    }
}