ion-card {
    width: 160px;
    height: 160px;

    ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;                
        text-align: center;
        background-color: var(--ion-color-coffee-light);
        padding: 5px;
        box-shadow: -5px 0 10px var(--shadow);

        ion-label {
            font-size: 1.1em;
            font-weight: 700;
            color: var(--ion-color-coffee-primary);            
        }        
    }
}