* {
    font-family: 'IBM Plex Sans', sans-serif;
}

ion-button {
    --background: var(--ion-color-coffee-primary);
    text-transform: initial;
}

.btn-nobackground{
    --background: #f5f5f3;
    --color: var(--ion-color-coffee-primary);
    border: 2px solid var(--ion-color-coffee-primary);
}

.loading-style {
    color: var(--ion-color-coffee-primary);
    font-weight: 700;
    --spinner-color: var(--ion-color-coffee-primary);
}