* {
    font-family: 'IBM Plex Sans', sans-serif;
}

ion-button {
    --background: var(--ion-color-coffee-primary);
    text-transform: initial;
    --color: var(--ion-color-coffee-gray-1);
}

.btn-nobackground {
    --background: transparent;
    --color: var(--ion-color-coffee-primary);
    border: 2px solid var(--ion-color-coffee-primary);
}

.btn-nobackground.khoacss {
    border-radius: 5px;
    border: 1px solid var(--ion-color-coffee-primary);
}

.loading-style {
    color: var(--ion-color-coffee-primary);
    font-weight: 700;
    --spinner-color: var(--ion-color-coffee-primary);
    --background: var(--ion-color-coffee-light-1)
}

.custome-toast {
    --color: var(--ion-color-coffee-light);
    --border-radius:5px;
}

.custome-toast-success {
    --color: var(--ion-color-coffee-light);
    --background: var(--ion-color-success);
}

.custome-toast-warning {
    --color: var(--ion-color-coffee-black);
    --background: var(--ion-color-warning);
}

.custome-toast-error {
    --color: var(--ion-color-coffee-light);
    --background: var(--ion-color-coffee-primary);
}

.gm-style-iw.gm-style-iw-c {
    background-color: var(--ion-color-coffee-map);
    padding: 5px !important;
}

ion-button.rate-button {
    --background: transparent;
}

.gm-style .gm-style-iw-d {
    overflow: hidden !important;
}

.gm-style .gm-style-iw-t::after {
    background: var(--ion-color-coffee-map);
}

.imgPreviewContainer {
    --ion-background-color: var(--ion-color-coffee-glassmorphism);
    backdrop-filter: blur(10px);     
}

.actionSheetStyle .action-sheet-title.sc-ion-action-sheet-md {
    color: var(--ion-color-coffee-title-sheet);
}

.actionSheetStyle .action-sheet-button-inner.sc-ion-action-sheet-md {
    color: var(--ion-color-coffee-black);
}

.slide-card .swiper-slide-active  {       
    transition: linear 0.3s;     
    transform: scale(1.05, 1.05);        
}

.slide-card .swiper-slide-active ion-card .title {
    bottom: 0 !important;
}

.alert-radio-label.sc-ion-alert-md,
[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: var(--ion-color-coffee-black);
}