ion-searchbar {
    --background: var(--ion-color-coffee-light-1);
    --box-shadow: none;
    --border-radius: 10px;
    --cancel-button-color: var(--ion-color-coffee-primary);
    --clear-button-color: var(--ion-color-coffee-primary);
    --icon-color: var(--ion-color-coffee-primary);
    --color: var(--icon-color-coffee-black);
}