<ion-header>
  <ion-toolbar>
    <ion-title>Thêm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ul class="container">
    <li>
      <p>Cài đặt</p>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </li>
    <li>
      <p>Hỗ trợ</p>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </li>
    <li>
      <p>Tin tức</p>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </li>
    <li>
      <p>Quản lý AI</p>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </li>
    <li (click) = "SignupCafe()" >
      <p>Đăng kí quyền chủ quán cà phê</p>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </li>
    <li (click) = "Logout()" >
      <p>Đăng xuất tài khoản</p>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </li>
  </ul>
</ion-content>
