<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/login']">
      <ion-button color="coffee-primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="form">
    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Họ" [(ngModel)]="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Tên" [(ngModel)]="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <app-inputpassword>
      <ion-input type="password" placeholder="Mật khẩu" [(ngModel)]="password" (keypress)="onChange()" ></ion-input>
    </app-inputpassword>
    <p *ngIf="showTipPassword">Mật khẩu cần chứa ít nhất 8 ký tự, gồm ký tự đặc biệt, chữ in hoa, chữ thường, và số</p>
    <app-inputpassword>
      <ion-input type="password" placeholder="Nhập lại mật khẩu" [(ngModel)]="confirmpassword"></ion-input>
    </app-inputpassword>
    <ion-button (click)="clickSignup()" expand="block" shape="round">Đăng kí</ion-button>
  </div>
</ion-content>