ion-router-link {
    color: var(--ion-color-coffee-primary);
}

ion-content {
    .container {
        position: relative;
        width: 100%;
        height: 100%;

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            background: url("../../../assets/images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;

            ion-slides {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;

                ion-slide {
                    ion-img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }                
            }
        }

        .content-container {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 75%;            
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;  
            background: var(--ion-color-coffee-gray-1);    
            overflow: hidden;  
            z-index: 2;         

            .bar { 
                width: 50%;
                height: 10px;
                background-color: var(--ion-color-coffee-light-gray);
                margin: 0 auto;
                margin-top: 20px; 
                border-radius: 5px;
                cursor: pointer;
                opacity: 0.5;  
            }

            .content {
                max-height: 100%;
                overflow-y: scroll;
                padding-bottom: 80px;

                ion-row {
                    margin-bottom: 10px;
                }

                .map {
                    height: 10vh;
                }

                .description {                   
                    &-content {
                        text-align: justify;
                        font-size: 1.2em;
                        line-height: 1.5em;

                        &.hidden {
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }

                    .showMore {
                        text-align: right;
                        font-size: 1em;
                        margin-top: 10px;
                        ion-label {
                            font-style: italic;
                            color: var(--ion-color-coffee-primary);
                        }
                    }
                }

                .header {
                    &-des {
                        font-size: 1.2em;
                        font-weight: 900;
                    }

                    &-title {
                        color: var(--ion-color-coffee-primary);
                        font-weight: 700;
                        font-size: 1.6em;
                    }
                    &-favorite {
                        border-radius: 20px;
                        border: 1px solid var(--ion-color-coffee-gray);
                        padding: 2px 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;   
                        font-size: 1.5em;
                        cursor: pointer;  
                        
                        &.favorited {
                            ion-icon {
                                color: var(--ion-color-coffee-heart);                                
                            }
                        }

                        ion-icon {
                            transition: linear 0.2s;
                        }
                    }

                    &-address {
                        font-size: 1.2em;
                        span {                            
                            font-weight: 900;
                        }
                    }

                    &-time {
                        font-size: 1.2em;
                        span {
                            font-weight: 900;
                        }
                    }

                    &-rate {
                        font-size: 1.2em;
                        span {                            
                            font-weight: 900;   
                        }  
                        ion-icon {
                            color: var(--ion-color-coffee-star);
                        }                                           
                    }

                    &-price {
                        font-size: 1.2em;
                        span {
                            font-weight: 900;
                        }                                               
                    }

                    &-map-title {
                        font-size: 1.2em;
                        font-weight: 900;
                        margin-bottom: 10px;
                    }
                    &-feedback {
                        font-size: 1.2em;
                        font-weight: 900;
                        margin: 10px 0;
                    }
                    &-category {
                        font-size: 1.2em;
                        span:first-child {
                            font-weight: 900;
                        }
                    }
                }
            }
        }        
    }
}