.container{
    margin-bottom: 10px;
    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;

        .foryou{
            color: var(--ion-color-coffee-primary);
            font-weight: 700;
            font-size: 1.2em;
        }
        .more{
            color: var(--ion-color-coffee-black);
            font-size: 1em;
            font-style: italic;
        }
    }

    // .swiper-slide-active {   
    //     transition: linear 0.3s;     
    //     transform: scale(1.05, 1.05);
    // }
}